.container_section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color_container {
    border-radius: 30px;
    padding: 24px;
    background-color: #fff;
    height: 100%;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.color_container .color_box {
    width: 20%;
    padding: 10px;
}
.color_container .color_box .color_item{
    width: 100%;
    height: 200px;
    cursor: pointer;
}